.Buttom_container {
  width: 100%;
  height: 27.5em;
  background-color: #353753;
  margin-top: 10px;
  color: white;
  transition: 0.5s ease-in-out;
  margin-bottom: 0;
}
.buttom_head {
  display: flex;
  justify-content:space-between;
  padding: 50px;
  gap: 30px;
  line-height: 3rem;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav__link {
  padding: 0px 7px 0px 7px;
}
.info_title {
  font-weight: bold;
  text-align: left;
}
.info_content {
   font-size:15px;
    text-align: left;
}
.Store_hours_details {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-weight: lighter;
  
}
.Store_hours_details p{
   
    font-weight: 1px;
    
  }
.logo {
  font-size: 30px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.media {
  display: flex;
  flex-direction: row;
  gap: 15px;
  
}
.media i:hover {
  font-size: 40px;
  gap: 10px;
}
@media  screen and (max-width: 800px) {
  .buttom_head {
    padding: 50px 10px;
  }
  .Buttom_container {
    height: 29em;
    transition: 0.5s ease-in-out;
  }
}
@media  screen and (max-width: 700px) {
  .buttom_head {
    padding: 50px 10px;
  }
  body {
    font-size: small;
  }
  .Buttom_container {
    margin-top: 0px;
    height: 32em;
    width: 130%;
    transition: 0.5s ease-in-out;
  }
}
.stor_hours_title {
  font-size: large;
  font-weight: bold;
  text-align: center;
}
.buttom_foot ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttom_foot ul li {
  padding: 0px 10px;
}
.buttom_foot {
  padding: 0;
  margin-top: 0;
}
.Store_hours_details p{
  color: white;
  font-size: 15px;
}
