.Category_container {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}
.Category_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.5%;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../Pages/CSS/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../Pages/CSS/fonts/Poppins-Bold.ttf");
}
.Category {
  font-weight: 500;
  font-size: 35px;
  background: linear-gradient(to top, #8387b3, #2e3054);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins";
  margin-left: 11vw;
 
}
.Category_container i {
  font-weight: 500;
  font-size: 35px;
  background: linear-gradient(to top, #8387b3, #2e3054);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}
.item {
  width: 25%;
  height: 380px;
  background-color: #8387b3;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: end;
  box-shadow: 2px 2px 7px 2px rgb(219, 219, 219);
  font-family: "PlayfairDisplay";
  font-size: 50px;
  font-weight: bolder;
  color: #2e3054;
}


.Kids {
  background-image: url(../components/Assets/images/kids.jpg);
  background-size: cover;
}
.Men {
  background-image: url(../components/Assets/images/men.jpg);
  background-size: cover;
}
.Women {
  background-image: url(../components/Assets/images/women.jpg);
  background-size: cover;
}
.Women:hover,
.Men:hover,
.Kids:hover {
  opacity: 0.6;
  width: 21%;
  height: 385px;
  transition: 0.5s ease-in-out;
}
.Women:hover,
.Men:hover,
.Kids:hover {
  a {
    transition: 0.5s ease-in-out;
    font-size: 60px;
  }
}
