

.top{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0em 1em;
    width: 100%;
    height: 80px;
    position:fixed;
    top:0px;
    z-index: 1000;
    background-color: white;
   

    
}.searchInput_Container {
    
    width: 40vw; /* Adjust the width as needed */
    height: 38px; /* Adjust the height as needed */
    border: 2px solid #353753;
    border-radius: 18px;
    padding: 0 10px;
    z-index: 1000;
  }
  
  .searchInput_Container input {
    width: 90%;
    height: 90%;
    border: none;
    outline: none;
    padding: 0;
    margin: 1px;
  }
  
  .searchInput_Container i {

    color: #999;
    cursor: pointer;
  }
  .pages i{
    color:#353753;
    width: 30px;
   
  }
  .pages i:hover{
    color:#5f6185;
    width: 30px;
   font-weight:bolder;

   
  }
  .logo{
   font-family:"Playfair Display";
   cursor: pointer;
  }
  @font-face {
    font-family: "Playfair Display";
    src: url('../fonts/PlayfairDisplay-Bold.ttf') ;
  }
  .template img{
    width: 300px;
  }
 .pages i{
    font-size: 30px;
 }
  