
.title {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;
  }
  .contact_container {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.send_process {
  width: 45%;
  height: 85vh;
border: solid  #494c6c 2px;
box-shadow: 2px 2px 5px 2px #c9cbdb;
  
}
.Get_In_Touch_p{
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 100;
    font-size: 15px;
    padding-bottom: 30px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
  width: 70%;
}
.information {
  width: 45%;
  height: 85vh;
  text-align: left;
  padding-left: 2%;
  
  border: solid  #494c6c 2px;
box-shadow: 2px 2px 5px 2px #c9cbdb;
}

.info_contents{
  font-size: 20px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5%;
  padding-bottom: 30px;
}
.message_title, .General_Inquiry{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "PlayfairDisplay";
  padding-top: 5%;
  padding-bottom: 30px;
}
textarea {
  height: 100px;
}
.send_process input[type="submit"] {
  border: 1px solid pink;
  background: linear-gradient(to top, #fcf1f3, rgb(254, 186, 197));
  width: 9em;
  height: 3em;
text-align: center ;
  border-radius: 40px;
  color: #353753;
  font-weight: bold;
}
.send_process input{
    height: 2.3em;
    border-radius: 40px;
    padding-left: 2%;
    border: 1px solid pink;
}
.send_process input:hover{
    border: 1px solid rgb(250, 173, 186);
    background-color:pink ;
   
}
.send_process input:focus{
    border: 1px solid rgb(250, 173, 186);
    background-color:pink ;
   
}
.send_process input[type="submit"]:hover{
    width: 9.2em;
    height: 3.2em;
    transition: 0.5s ease-in-out;
}
@media  screen and (max-width: 700px) {

.contact_container {
    width: 90%;
    height: 155vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
 .send_process {
        width: 100%;
        height: 85vh;
      
        
      }
     .information {
        width: 100%;
        height: 65vh;
      
        
      }
      .title {
        
        margin-top: 20%;
       
      }
  }