.body{
    display: flex;
    flex-direction: column;
    margin-top: 115px;
}

.pages{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 20px ;
    font-size: 18px;
    margin-top: 10px;
}

.pages > li{
    margin-right: 12px ;
    align-self: center;
}

.midle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.containerP{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 700px;
}

.photo{
    width: 500px;
    height: 600px;
    border-radius: 10px;
    border: none;
    /* margin: 5px 10px 5px 80px; */
}

.productInfo{
    width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productInfo > p{
    padding-top: 20px;
    font-size: 30px;
}

.PriceAndStock{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.oldprice{
    font-weight: 350;
    padding-left: 0;
    text-decoration:line-through;
}

.newprice{
    font-weight: 550;
    margin-right: 70px;
}

.dolar{
    padding-left: 0;
}

.stock{
    color: red;
    font-weight:650 ;
}
.stock:hover
{
    color: rgba(233, 42, 42, 0.704);
    cursor: pointer;
}

.productInfo > label{
    font-size: 22px;
    font-weight:620;
    margin-bottom: 10px ;
}

.productInfo > select{
    text-align: center;
    font-size: 22px;
    height: 40px;
    margin-bottom: 10px;
}

.Sselecter{
    width: 160px;
}

.Cselect{
    width: 165px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.QandW{
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;

}

.quntity{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    width: 150px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 28px;
    border-style: solid;
    border-color: #3537537b;
}

.Q{
    font-size: 30px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: #353753;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.W{
    width: 300px;
    height: 50px;
    color: #353753;
    background-color: #FFDDE2;
    font-weight: 700;
    font-size: 22px;
    border-radius: 28px;
    border: none;
}
.W1{
    width: 150px;
}


.AddToBasket{
    background-color: #353753;
    height: 60px;
    width: 95%;
    border: none;
    border-radius: 28px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.ProdInfo button:hover
{
    transform: scale(1.05);
}
.description {
    width: 97%;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.description > p{
    padding-bottom: 15px;
    font-size: 30px;
}

.dis{
    font-size: 18px;
    color: #353753bd;
}

