
.colors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
}

.colors  button{
    border-radius:50%;
    width: 2.45rem;
    height: 2.45rem;
    border-width: 0;
    margin: 0.5rem;
}

button.selected { 
    border: 3.5px solid #54598f;
}

/* button.selected.W{
    background-color: white;
    color: white;
} */


#Black{
    background-color: black;
    color: black;
}


.W{
    background-color: white;
    color: white;
    border-color: black;
    border-width: 2px;
    border: solid;
}

#Sky{
    background-color: skyblue;
    color: skyblue;
}

#Navy{
    background-color: navy;
    color: navy;
}

#Red{
    background-color: rgb(244, 29, 29);
    color: rgb(244, 29, 29);
}

#Green{
    background-color: green;
    color: green;
}

#Pink{
    background-color: pink;
    color: pink;
}

#Purple{
    background-color: purple;
    color: purple;
}

