
.Box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 425px;
    width: 265px;
    margin: 15px;
    border: none;
    border-radius: 10px;
}

.Photo{
    width: 260px;
    height: 325px;
    position: relative;
    margin-top: 2px;
}

#image{
    width: 100%;
    height: 98.5%;
    border-radius: 10px;
}

.botom{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.info{
    width: 68%;
    margin-left: 0px;
    height:90px;
}

.info >p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    font-weight: 400;
    padding-left: 0;
}

.ProductName{
    font-family: popins;
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 2px;
    white-space: nowrap;      /* Prevents text from wrapping to the next line */
    overflow: hidden;         /* Ensures the text won't overflow its container */
    text-overflow: ellipsis;  /* Adds "..." at the end of the truncated text */
    max-width: 100%;          /* Ensures the element respects the container's width */
}


.oldPrice{
    text-decoration:line-through;
    font-weight: 400;
    
}

.newPrice{
    font-weight: 700;
    color: #FF2121;
    margin-left: 20px;
    
}

.BuingButton{
    width: 35%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5px;
}

.BuingButton > input{
    width: 75%;
    height: 60%;
    border-radius: 15%;
    background-color:#353753;
    border: none;
    background-image: url("../Assets/images/shopIcon2.svg") ;
    background-repeat: no-repeat;
    background-position: center;
}

/* .Stock{
    width: 88px;
    height: 33px;
    border-radius: 20.2px;
    position: absolute;
    background-color:#353753;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
    top: 10px;
} */

/* #addToWish{
    position: absolute;
    width: 37px;
    height: 37px;
    right: 0px;
    background-color:#353753;
    background-image: url('../Assets/images/heartIcon.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0% 0% 0% 20%;
    border: none;
} */

#addToWish.clicked {
    background-image: url('../Assets/images/heartIcon2.svg');
}


.Dolar{
    font-weight: bold;
}