/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Graphie ExtraBold';
  src: url('../../fonts/Graphie-ExtraBold.otf')
}
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('../../fonts/HelveticaNeueBold.otf')
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
}

/* :root { */
  /* u can use css variables as well for colors, fonts, sizes....*/
  /* example */
  /* --COLOR : #23af78 */
  /* in css use var (--COLOR) to use it  */
/* } */
body {
  color:#353753;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
