/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Graphie ExtraBold";
  src: url("./Pages/CSS/fonts/Graphie-ExtraBold.otf");
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("./Pages/CSS/fonts/HelveticaNeueBold.otf");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("./Pages/CSS/fonts/PlayfairDisplay-Black.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("./Pages/CSS/fonts/Poppins-Bold.ttf");
}

/* You can use the fonts from anywhere just by using the font family name mentioned here */
/* :root { */
/* u can use css variables as well for colors, fonts, sizes....*/
/* example */
/* --COLOR : #23af78 */
/* in css use var (--COLOR) to use it  */
/* } */

:root{
  --MAIN-BLUE:#353753;
}
body {
  color: #353753;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./Pages/CSS/fonts/Poppins-Regular.ttf");
}

/* Add padding or margin to the top of the main content to ensure it's not covered */
body {
  margin: 0;
  padding: 0;
}

/* Optional: Adjust padding for specific content containers */
.main-content {
  padding-top: 6vh; /* Same as Navbar height */
}

